{% block sw_product_detail_content_tabs_cross_selling %}
    {% parent %}

    <sw-tabs-item :route="{ name: 'sw.product.detail.custom', params: { id: $route.params.id } }" title="Extended">
        Extended
    </sw-tabs-item>
{% endblock %}