{% sw_extends 'administration/index.html.twig' %}

{% block administration_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/swtcustomfields/administration/js/new-tab.js') }}"></script>
{% endblock %}