{#{% block sw_product_basic_form_title_field %}#}

{#    {{ product.extensions }}#}

{#    <sw-entity-single-select class="sw-select-product__select_product_manager"#}
{#                             v-model="product.extensions.product_manager.id"#}
{#                             entity="user"#}
{#                             value="id"#}
{#                             labelProperty="username">#}
{#    </sw-entity-single-select>#}

{#    #}{# <sw-select-field class="sw-select-product__select_product_manager"#}
{#                     v-model="product.extensions.product_manager.id">#}
{#        <option v-for="user in users"#}
{#                :value="user.id"#}
{#                :selected="product.extensions.product_manager && user.id === product.extensions.product_manager.id">#}
{#            {{ user.firstName }} {{ user.lastName }} - {{ user.username }}#}
{#        </option>#}
{#    </sw-select-field> #}

{#    {% parent %}#}
{#{% endblock %}#}
