{% block swag_migration_shop_information %}
    <sw-card class="swag-migration-shop-information" :title="$tc('swag-migration.index.shopInfoCard.cardTitle')">

        {% block swag_migration_shop_information_content %}
            <template #grid>
                <sw-container rows="auto auto">
                    <sw-card-section :divider="showMoreInformation ? 'bottom' : ''">

                        {% block swag_migration_shop_information_connection %}
                            <div class="swag-migration-shop-information__connection">

                                {% block swag_migration_shop_information_connection_avatar %}
                                    <template v-if="profileIcon === null || profileIcon === ''">
                                        <swag-migration-shop-avatar class="swag-migration-shop-information__connection-avatar"
                                                                    color="#189EFF"
                                                                    size="80px">
                                            {{ shopFirstLetter }}
                                        </swag-migration-shop-avatar>
                                    </template>

                                    <template v-else>
                                        <img class="swag-migration-shop-information__profile-avatar"
                                             :src="profileIcon | asset"
                                             size="80px">
                                    </template>
                                {% endblock %}

                                {% block swag_migration_shop_information_connection_info %}
                                    <div class="swag-migration-shop-information__connection-info">

                                        {% block swag_migration_shop_information_shop_system %}
                                            <div class="swag-migration-shop-information__connection-name">
                                                {{ connectionName }}
                                            </div>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_shop_domain %}
                                            <div v-if="shopUrl !== ''" class="swag-migration-shop-information__shop-domain">
                                                <span class="swag-migration-shop-information__shop-domain-prefix"
                                                      :class="shopUrlPrefixClass">
                                                    <sw-icon v-if="sslActive"
                                                             class="swag-migration-shop-information__shop-domain-prefix-icon"
                                                             name="small-lock-closed"
                                                             size="12px">
                                                    </sw-icon>
                                                    <sw-icon v-else
                                                             class="swag-migration-shop-information__shop-domain-prefix-icon"
                                                             name="small-lock-open"
                                                             size="12px">
                                                    </sw-icon>
                                                    {{ shopUrlPrefix }}</span>{{ shopUrl }}
                                            </div>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_actions %}
                                            <div class="swag-migration-shop-information__actions">

                                                {% block swag_migration_shop_information_actions_editSettings %}
                                                    <sw-button size="small"
                                                               @click="onClickEditConnectionCredentials">
                                                        {{ $tc('swag-migration.index.shopInfoCard.buttonEditSettings') }}
                                                    </sw-button>
                                                {% endblock %}

                                                {% block swag_migration_shop_information_actions_contextMenu %}
                                                    <sw-context-button>
                                                        <template #button>
                                                            <sw-button size="small" square>
                                                                <sw-icon name="small-more" small></sw-icon>
                                                            </sw-button>
                                                        </template>

                                                        <sw-context-menu-item @click="onClickCreateConnection">
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonCreateConnection') }}
                                                        </sw-context-menu-item>
                                                        <sw-context-menu-item @click="onClickSelectConnection">
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonSelectConnection') }}
                                                        </sw-context-menu-item>
                                                        {% block swag_migration_shop_information_actions_profileInstallationItem %}
                                                            <sw-context-menu-item @click="onClickProfileInstallation">
                                                                {{ $tc('swag-migration.index.shopInfoCard.buttonProfileInstallation') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}
                                                        <sw-context-menu-item variant="danger" @click="showRemoveCredentialsConfirmModal = true">
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonRemoveCredentials') }}
                                                        </sw-context-menu-item>
                                                        <sw-context-menu-item variant="danger" @click="showResetChecksumsConfirmModal = true">
                                                            {{ $tc('swag-migration.index.shopInfoCard.buttonResetChecksums') }}
                                                        </sw-context-menu-item>
                                                    </sw-context-button>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block swag_migration_shop_information_connection %}
                                    <div class="swag-migration-shop-information__connection">
                                        <div class="swag-migration-shop-information__connection-badge">
                                            <sw-label class="swag-migration-shop-information__connection-status"
                                                      :variant="connectionBadgeVariant"
                                                      appearance="pill">
                                                <sw-color-badge class="swag-migration-shop-information__connection-status-dot"
                                                                :variant="connectionBadgeVariant"
                                                                rounded>
                                                </sw-color-badge>
                                                <span class="swag-migration-shop-information__connection-status-text">
                                                    {{ $tc(connectionBadgeLabel) }}
                                                </span>
                                            </sw-label>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </sw-card-section>

                    <sw-card-section v-if="showMoreInformation" secondary slim>
                        <sw-container class="swag-migration-shop-information__metadata"
                                      columns="repeat(auto-fit, minmax(250px, 1fr)"
                                      gap="0px 15px">

                            {% block swag_migration_shop_information_metadata_columns %}
                                <div class="swag-migration-shop-information__metadata-columns">

                                    {% block swag_migration_shop_information_metadata_column_left %}
                                        {% block swag_migration_shop_information_metadata_profile %}
                                            <sw-description-list>
                                                <dt>{{ $tc('swag-migration.index.shopInfoCard.profile') }}</dt>
                                                <dd>{{ profile }}</dd>
                                            </sw-description-list>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_metadata_gateway %}
                                            <sw-description-list>
                                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.gateway') }}</dt>
                                                    <dd>{{ $tc(gateway) }}</dd>
                                            </sw-description-list>
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                                <div class="swag-migration-shop-information__metadata-columns">

                                    {% block swag_migration_shop_information_column_right %}
                                        {% block swag_migration_shop_information_metadata_lastConnectionCheck %}
                                            <sw-description-list>
                                                <dt>{{ $tc('swag-migration.index.shopInfoCard.connectionCheck') }}</dt>
                                                <dd v-if="lastConnectionCheck !== '-'">
                                                    {{ $tc('swag-migration.index.shopInfoCard.displayDateTime', 0, lastConnectionCheckDateTimeParams) }}
                                                </dd>
                                                <dd v-else>-</dd>
                                            </sw-description-list>
                                        {% endblock %}

                                        {% block swag_migration_shop_information_metadata_lastMigration %}
                                            <sw-description-list>
                                                    <dt>{{ $tc('swag-migration.index.shopInfoCard.lastMigration') }}</dt>
                                                    <dd v-if="lastMigrationDate !== '-'">
                                                        {{ $tc('swag-migration.index.shopInfoCard.displayDateTime', 0, lastMigrationDateTimeParams) }}
                                                    </dd>
                                                    <dd v-else>
                                                        {{ $tc('swag-migration.index.shopInfoCard.noMigrationDoneYet') }}
                                                    </dd>
                                            </sw-description-list>
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </sw-container>
                    </sw-card-section>
                </sw-container>

                {% block swag_migration_shop_information_confirm_modal %}
                    {# @deprecated tag:1.2.0 #}
                    {% block swag_migration_shop_information_confirm_modal_content %}
                        {# @deprecated tag:1.2.0 #}
                    {% endblock %}
                    {% block swag_migration_shop_information_confirm_modal_content_hint %}
                        {# @deprecated tag:1.2.0 #}
                    {% endblock %}
                    {% block swag_migration_shop_information_confirm_modal_footer %}
                        {# @deprecated tag:1.2.0 #}
                        {% block swag_migration_shop_information_confirm_modal_abort %}
                            {# @deprecated tag:1.2.0 #}
                        {% endblock %}
                        {% block swag_migration_shop_information_confirm_modal_confirm %}
                            {# @deprecated tag:1.2.0 #}
                        {% endblock %}
                    {% endblock %}
                {% endblock %}

                {% block swag_migration_shop_information_remove_credentials_confirm_modal %}
                    <sw-modal v-if="showRemoveCredentialsConfirmModal"
                              class="swag-migration-shop-information__confirm-modal"
                              :title="$tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.title')"
                              :isLoading="confirmModalIsLoading"
                              size="460px"
                              @modal-close="showRemoveCredentialsConfirmModal = false">

                        {% block swag_migration_shop_information_remove_credentials_confirm_modal_content %}
                            <p class="swag-migration-shop-information__confirm-modal-content">
                                {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.content') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_remove_credentials_confirm_modal_content_hint %}
                            <p class="swag-migration-shop-information__confirm-modal-content-hint">
                                {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.contentHint') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_remove_credentials_confirm_modal_footer %}
                            <template #modal-footer>

                                {% block swag_migration_shop_information_remove_credentials_confirm_modal_abort %}
                                    <sw-button size="small"
                                               :disabled="confirmModalIsLoading"
                                               @click="showRemoveCredentialsConfirmModal = false">
                                        {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.abortButtonText') }}
                                    </sw-button>
                                {% endblock %}

                                {% block swag_migration_shop_information_remove_credentials_confirm_modal_confirm %}
                                    <sw-button size="small"
                                               variant="primary"
                                               :disabled="confirmModalIsLoading"
                                               @click="onClickRemoveConnectionCredentials">
                                        {{ $tc('swag-migration.index.shopInfoCard.removeCredentialsConfirmDialog.confirmButtonText') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}

                {% block swag_migration_shop_information_reset_checksums_confirm_modal %}
                    <sw-modal v-if="showResetChecksumsConfirmModal"
                              class="swag-migration-shop-information__confirm-modal"
                              :title="$tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.title')"
                              :isLoading="confirmModalIsLoading"
                              size="460px"
                              @modal-close="showResetChecksumsConfirmModal = false">

                        {% block swag_migration_shop_information_reset_checksums_confirm_modal_content %}
                            <p class="swag-migration-shop-information__confirm-modal-content"
                               v-html="$tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.content')">
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_checksums_confirm_modal_content_hint %}
                            <p class="swag-migration-shop-information__confirm-modal-content-hint">
                                {{ $tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.contentHint') }}
                            </p>
                        {% endblock %}

                        {% block swag_migration_shop_information_reset_checksums_confirm_modal_footer %}
                            <template #modal-footer>

                                {% block swag_migration_shop_information_reset_checksums_confirm_modal_abort %}
                                    <sw-button size="small"
                                               :disabled="confirmModalIsLoading"
                                               @click="showResetChecksumsConfirmModal = false">
                                        {{ $tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.abortButtonText') }}
                                    </sw-button>
                                {% endblock %}

                                {% block swag_migration_shop_information_reset_checksums_confirm_modal_confirm %}
                                    <sw-button size="small"
                                               variant="primary"
                                               :disabled="confirmModalIsLoading"
                                               @click="onClickResetChecksums">
                                        {{ $tc('swag-migration.index.shopInfoCard.resetChecksumsConfirmDialog.confirmButtonText') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-card>
{% endblock %}
